<div class="container margin-top-40 margin-bottom-40">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="column">
        <%= image_tag ("/assets/img1.jpg"), :width => "225"%>
        <p class="description"><a href="#">Mini Pistachio Raspberry Pastry Jars</a></p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="column">
        <%= image_tag ("/assets/img2.jpg"), :width => "225"%>
        <p class="description"><a href="#">Quick & Easy Apple Tart</a></p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="column">
        <%= image_tag ("/assets/img3.jpg"), :width => "225"%>
        <p class="description"><a href="#">Baked Banana Donuts with Nutella</a></p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="column">
        <%= image_tag ("/assets/img4.jpg"), :width => "225"%>
        <div class="description"><a href="#">Baked Pumpkin Cat Doughnut</a></div>
      </div>
    </div>
  </div>
</div>

<div class="container margin-top-40 margin-bottom-40">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="column">
        <%= image_tag ("/assets/img5.jpg"), :width => "225"%>
        <p class="description"><a href="#">Earl Grey Madeleines</a></p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="column">
        <%= image_tag ("/assets/img6.jpg"), :width => "225"%>
        <p class="description"><a href="#">Beeramisu</a></p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="column">
        <%= image_tag ("/assets/img7.jpg"), :width => "225"%>
        <p class="description"><a href="#">Fruity Pebble Meringues</a></p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="column">
        <%= image_tag ("/assets/img8.jpg"), :width => "225"%>
        <p class="description"><a href="#">Totoro Black Sesame Donuts</a></p>
      </div>
    </div>
  </div>